<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="SuitePetstore" verbose="1" >

    <test name="Pet"   >
        <packages>
            <package name="petstore.pet" />
        </packages>
    </test>
    <test name="Store"   >
        <packages>
            <package name="petstore.store" />
        </packages>
    </test>
    <test name="User"   >
        <packages>
            <package name="petstore.user" />
        </packages>
    </test>
</suite>
